.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-primary {
  color: var(--text-color-white);
  padding: 15px 20px;
  border-radius: 6px;
  background-color: var(--background-color-accent);
  transition: .2s linear;
}

.btn-primary:hover {
  color: var(--text-color-white);
  padding: 15px 20px;
  border-radius: 6px;
  background-color: var(--background-color-accent-light);
}

.btn-primary:active {
  color: var(--text-color-white);
  padding: 15px 20px;
  border-radius: 6px;
  background-color: var(--background-color-accent-dark);
}

.btn-light {
  color: var(--text-color-gray-light);
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #f5f5f5;
  transition: var(----animation-linear-default);
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
  
  /* Если нужно сохранить pointer-events, но отключить функциональность */
  /* 
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: not-allowed;
  }
  */
  
  background-color: #cccccc !important;
  color: #666666 !important;
  border-color: #bbbbbb !important;
  
  &:hover, &:focus, &:active {
    background-color: #cccccc !important;
    color: #666666 !important;
    border-color: #bbbbbb !important;
    transform: none !important;
    box-shadow: none !important;
  }
}
