/* add main style files */
@import url("./root.css");
@import url("./reset.css");
@import url("../assets/fonts/fonts.css");

/* add blocks style file */
@import url("./blocks/_header.css");
@import url("./blocks/_logo.css");
@import url("./blocks/_buttons.css");

/* add pages style file */
@import url("./pages/catalog.css");

/* main pages styles */
html, body {
  font-family: var(--font-family-texts);
  font-weight: 400;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-titles);
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-inline: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
